
      <div class="row" >
          <div class="col-md-12">
              <div class="card" style="background-color:#122d75;">
                  <div class="card-header ">
                  </div>
                  <div class="card-body">
                          <img src="//static1.squarespace.com/static/5bb731fbb914494274197b1c/t/5bd7188a4785d30272a8711a/1548682788756/?format=1500w" alt="50inTech" class="Header-branding-logo" style="width: 135px;padding: 13px;">
                      </div>
                      <div class="card-footer ">
                        
                      
                      </div>
              </div>
                  
          </div>
        
      </div>

    <div class="row">
          <div class="col-md-6">
              <div class="card ">
                  <div class="card-header ">
                      <h5 class="card-title">First time with us?</h5>
                  </div>
                  <div class="card-body">
                          <a  class="btn btn-block btn-primary" routerLink="./discover">DISCOVER</a>
                  </div>
                      <div class="card-footer ">
                        
                         
                      </div>
                  </div>
                  
              </div>
              <div class="col-md-6">
                  <div class="card card-chart">
                      <div class="card-header">
                          <h5 class="card-title">Already have an account?</h5>
                      </div>
                      <div class="card-body">
                              <a  class="btn btn-block btn-primary" routerLink="./login">WELCOME BACK</a>

                      </div>
                      <div class="card-footer">
                       
                      </div>
                  </div>
              </div>
              </div>

           
     
                                  
